.arrow-button {
  cursor: pointer;
  position: absolute;
  height: 100px;
  width: 100px;
  top: 250px;

  @media (max-width: 667px) {
    top: 120px;
  }

  background-image:
  radial-gradient(
    circle closest-side,
    rgba(0, 0, 0, 0.24),
    transparent
  );

  div {
    height: 100px;
    width: 100px;
  }

  &.left-arrow {
    left: 50px;
    @media (max-width: 667px) {
      left: -10px;
    }

    div {
      background: url('../../assets/images/left_arrow.png');
      background-size: cover;
    }
  }

  &.right-arrow {
    right: 50px;
    @media (max-width: 667px) {
      right: -10px;
    }

    div {
      background: url('../../assets/images/right_arrow.png');
      background-size: cover;
    }
  }
}
