.search-box {
  position: absolute;
  text-align: center;  
  top: 50px;
  width: 100%;
  z-index: 2;

  input[type="text"] {
    width: 300px;
    font-size: 20px;
    padding: 10px;
    border: solid 1px #dcdcdc;
    transition: box-shadow 0.3s, border 0.3s;
  }

  input[type="text"]:focus {
    border: solid 1px #707070;
    box-shadow: 0 0 5px 1px #969696;
  }
}

